<%- include('header') -%>
    <%- include('navbar') -%>
        <section class="blogs mt-3 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h3>Blogs</h3>
                    </div>
                </div>
                <a class="nav-link" href="/api/v1/ca/blogs/createblog">Create Blog</a>
                <div class="row mt-5">
                    <% for (let blog of blogs) {%>
                        <div class="col-md-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/images/rocket-doodle.png" class="card-img-top" height="260px" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= blog.title %>
                                    </h5>
                                    <p class="card-text">
                                        <%= blog.body %>
                                    </p>
                                    <a href="/api/v1/ca/blogs/<%= blog._id %>" class="btn btn-primary">Read More...</a>
                                </div>
                            </div>
                        </div>
                        <%} %>
                </div>
            </div>
        </section>
        <%- include('footer') -%>