<%- include('header') -%>
    <%- include('navbar') -%>
        <h5 class="card-title">
            <%= blog.title %>
        </h5>
        <p class="card-text">
            <%= blog.body %>
        </p>


        <%- include('footer') -%>